dateparser==1.2.2
elasticsearch==9.1.0
elasticsearch_dsl==8.18.0
jsonlines==4.0.0
mordecai3==3.0.0a0
numpy==2.3.2
pandas==2.3.1
pylcs==0.1.1
rich==14.1.0
scikit_learn==1.7.1
scipy==1.16.1
sentence_transformers==5.0.0
skops==0.13.0
spacy==3.8.7
textacy==0.13.0
torch==2.2.2
tqdm==4.67.1
transformers==4.53.3
Unidecode==1.4.0
vllm==0.10.0
xgboost==3.0.3
