
# Python byte-compiled / optimized / DLL files / distribution etc. 
__pycache__/
*.py[cod]
*.egg-info

.DS_Store

# uv related files
uv.lock 

# Environment variable files
.env

# VS code workspace settings
*.code-workspace